Registry/Registry/Service References/Communication/CommunicationService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommunicationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://registryremoteapp.azurewebsites.net/CommunicationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://registryremoteapp.azurewebsites.net/CommunicationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://registryremoteapp.azurewebsites.net/CommunicationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Registry.Data.Models" />
      <xsd:import schemaLocation="http://registryremoteapp.azurewebsites.net/CommunicationService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICategoryRepository_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_UpdateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_UpdateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_CreateCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_CreateCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_DeleteCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategory" />
  </wsdl:message>
  <wsdl:message name="ICategoryRepository_DeleteCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_GetAllResourceGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourceGroups" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_GetAllResourceGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourceGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_UpdateResourceGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResourceGroup" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_UpdateResourceGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResourceGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_DeleteGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroup" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_DeleteGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_CreateGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroup" />
  </wsdl:message>
  <wsdl:message name="IResourceGroupRepository_CreateGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_CreateUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserGroup" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_CreateUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_UpdateUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserGroup" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_UpdateUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetUserGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroups" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_GetUserGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_DeleteUserGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserGroup" />
  </wsdl:message>
  <wsdl:message name="IUserRepository_DeleteUserGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_CreateResource_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateResource" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_CreateResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetAllResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResources" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetAllResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetCloudBlobConnectionString_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCloudBlobConnectionString" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetCloudBlobConnectionString_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCloudBlobConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetResources_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResources" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetResources_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetResourceDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceDetails" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_GetResourceDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResourceDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_UpdateResource_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResource" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_UpdateResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResourceResponse" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_DeleteResource_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResource" />
  </wsdl:message>
  <wsdl:message name="IResourceRepository_DeleteResource_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResourceResponse" />
  </wsdl:message>
  <wsdl:portType name="ICategoryRepository">
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/GetAllCategories" message="tns:ICategoryRepository_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/GetAllCategoriesResponse" message="tns:ICategoryRepository_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/UpdateCategory" message="tns:ICategoryRepository_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/UpdateCategoryResponse" message="tns:ICategoryRepository_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/CreateCategory" message="tns:ICategoryRepository_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/CreateCategoryResponse" message="tns:ICategoryRepository_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/DeleteCategory" message="tns:ICategoryRepository_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/DeleteCategoryResponse" message="tns:ICategoryRepository_DeleteCategory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IResourceGroupRepository">
    <wsdl:operation name="GetAllResourceGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroups" message="tns:IResourceGroupRepository_GetAllResourceGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroupsResponse" message="tns:IResourceGroupRepository_GetAllResourceGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResourceGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroup" message="tns:IResourceGroupRepository_UpdateResourceGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroupResponse" message="tns:IResourceGroupRepository_UpdateResourceGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/DeleteGroup" message="tns:IResourceGroupRepository_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/DeleteGroupResponse" message="tns:IResourceGroupRepository_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/CreateGroup" message="tns:IResourceGroupRepository_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/CreateGroupResponse" message="tns:IResourceGroupRepository_CreateGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserRepository">
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/CreateUser" message="tns:IUserRepository_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/CreateUserResponse" message="tns:IUserRepository_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/UpdateUser" message="tns:IUserRepository_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserResponse" message="tns:IUserRepository_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/DeleteUser" message="tns:IUserRepository_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserResponse" message="tns:IUserRepository_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetAllUsers" message="tns:IUserRepository_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetAllUsersResponse" message="tns:IUserRepository_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetUserByLogin" message="tns:IUserRepository_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetUserByLoginResponse" message="tns:IUserRepository_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/CreateUserGroup" message="tns:IUserRepository_CreateUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/CreateUserGroupResponse" message="tns:IUserRepository_CreateUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserGroup" message="tns:IUserRepository_UpdateUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserGroupResponse" message="tns:IUserRepository_UpdateUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetUserGroups" message="tns:IUserRepository_GetUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetUserGroupsResponse" message="tns:IUserRepository_GetUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserGroup" message="tns:IUserRepository_DeleteUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserGroupResponse" message="tns:IUserRepository_DeleteUserGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IResourceRepository">
    <wsdl:operation name="CreateResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/CreateResource" message="tns:IResourceRepository_CreateResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/CreateResourceResponse" message="tns:IResourceRepository_CreateResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetAllResources" message="tns:IResourceRepository_GetAllResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetAllResourcesResponse" message="tns:IResourceRepository_GetAllResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCloudBlobConnectionString">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionString" message="tns:IResourceRepository_GetCloudBlobConnectionString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionStringResponse" message="tns:IResourceRepository_GetCloudBlobConnectionString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetResources" message="tns:IResourceRepository_GetResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetResourcesResponse" message="tns:IResourceRepository_GetResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetResourceDetails" message="tns:IResourceRepository_GetResourceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetResourceDetailsResponse" message="tns:IResourceRepository_GetResourceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/UpdateResource" message="tns:IResourceRepository_UpdateResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/UpdateResourceResponse" message="tns:IResourceRepository_UpdateResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/DeleteResource" message="tns:IResourceRepository_DeleteResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/DeleteResourceResponse" message="tns:IResourceRepository_DeleteResource_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ICommunication">
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/GetAllCategories" message="tns:ICategoryRepository_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/GetAllCategoriesResponse" message="tns:ICategoryRepository_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/UpdateCategory" message="tns:ICategoryRepository_UpdateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/UpdateCategoryResponse" message="tns:ICategoryRepository_UpdateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/CreateCategory" message="tns:ICategoryRepository_CreateCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/CreateCategoryResponse" message="tns:ICategoryRepository_CreateCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/ICategoryRepository/DeleteCategory" message="tns:ICategoryRepository_DeleteCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICategoryRepository/DeleteCategoryResponse" message="tns:ICategoryRepository_DeleteCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResourceGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroups" message="tns:IResourceGroupRepository_GetAllResourceGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroupsResponse" message="tns:IResourceGroupRepository_GetAllResourceGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResourceGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroup" message="tns:IResourceGroupRepository_UpdateResourceGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroupResponse" message="tns:IResourceGroupRepository_UpdateResourceGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/DeleteGroup" message="tns:IResourceGroupRepository_DeleteGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/DeleteGroupResponse" message="tns:IResourceGroupRepository_DeleteGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceGroupRepository/CreateGroup" message="tns:IResourceGroupRepository_CreateGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceGroupRepository/CreateGroupResponse" message="tns:IResourceGroupRepository_CreateGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/CreateResource" message="tns:IResourceRepository_CreateResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/CreateResourceResponse" message="tns:IResourceRepository_CreateResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetAllResources" message="tns:IResourceRepository_GetAllResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetAllResourcesResponse" message="tns:IResourceRepository_GetAllResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCloudBlobConnectionString">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionString" message="tns:IResourceRepository_GetCloudBlobConnectionString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionStringResponse" message="tns:IResourceRepository_GetCloudBlobConnectionString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetResources" message="tns:IResourceRepository_GetResources_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetResourcesResponse" message="tns:IResourceRepository_GetResources_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResourceDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/GetResourceDetails" message="tns:IResourceRepository_GetResourceDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/GetResourceDetailsResponse" message="tns:IResourceRepository_GetResourceDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/UpdateResource" message="tns:IResourceRepository_UpdateResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/UpdateResourceResponse" message="tns:IResourceRepository_UpdateResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <wsdl:input wsaw:Action="http://tempuri.org/IResourceRepository/DeleteResource" message="tns:IResourceRepository_DeleteResource_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IResourceRepository/DeleteResourceResponse" message="tns:IResourceRepository_DeleteResource_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/CreateUser" message="tns:IUserRepository_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/CreateUserResponse" message="tns:IUserRepository_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/UpdateUser" message="tns:IUserRepository_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserResponse" message="tns:IUserRepository_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/DeleteUser" message="tns:IUserRepository_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserResponse" message="tns:IUserRepository_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetAllUsers" message="tns:IUserRepository_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetAllUsersResponse" message="tns:IUserRepository_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetUserByLogin" message="tns:IUserRepository_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetUserByLoginResponse" message="tns:IUserRepository_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/CreateUserGroup" message="tns:IUserRepository_CreateUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/CreateUserGroupResponse" message="tns:IUserRepository_CreateUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserGroup" message="tns:IUserRepository_UpdateUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/UpdateUserGroupResponse" message="tns:IUserRepository_UpdateUserGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/GetUserGroups" message="tns:IUserRepository_GetUserGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/GetUserGroupsResponse" message="tns:IUserRepository_GetUserGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserGroup" message="tns:IUserRepository_DeleteUserGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserRepository/DeleteUserGroupResponse" message="tns:IUserRepository_DeleteUserGroup_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICategoryRepository" type="tns:ICategoryRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IResourceGroupRepository" type="tns:IResourceGroupRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllResourceGroups">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResourceGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IUserRepository" type="tns:IUserRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/CreateUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/UpdateUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/DeleteUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IResourceRepository" type="tns:IResourceRepository">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/CreateResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResources">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetAllResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCloudBlobConnectionString">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDetails">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetResourceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/UpdateResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/DeleteResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_ICommunication" type="tns:ICommunication">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/UpdateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/CreateCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCategory">
      <soap:operation soapAction="http://tempuri.org/ICategoryRepository/DeleteCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResourceGroups">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/GetAllResourceGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResourceGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/UpdateResourceGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/DeleteGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGroup">
      <soap:operation soapAction="http://tempuri.org/IResourceGroupRepository/CreateGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/CreateResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllResources">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetAllResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCloudBlobConnectionString">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetCloudBlobConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResources">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResourceDetails">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/GetResourceDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/UpdateResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteResource">
      <soap:operation soapAction="http://tempuri.org/IResourceRepository/DeleteResource" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/CreateUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/UpdateUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserGroups">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/GetUserGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUserGroup">
      <soap:operation soapAction="http://tempuri.org/IUserRepository/DeleteUserGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommunicationService">
    <wsdl:port name="BasicHttpBinding_ICategoryRepository" binding="tns:BasicHttpBinding_ICategoryRepository">
      <soap:address location="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/ICategoryRepository" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IResourceGroupRepository" binding="tns:BasicHttpBinding_IResourceGroupRepository">
      <soap:address location="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IResourceGroupRepository" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IUserRepository" binding="tns:BasicHttpBinding_IUserRepository">
      <soap:address location="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IUserRepository" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IResourceRepository" binding="tns:BasicHttpBinding_IResourceRepository">
      <soap:address location="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/IResourceRepository" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_ICommunication" binding="tns:BasicHttpBinding_ICommunication">
      <soap:address location="http://registryremoteapp.azurewebsites.net/CommunicationService.svc/ICommunication" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>