Registry/Registry/Service References/Communication/RegistryRemoteService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Registry.Data.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Registry.Data.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8181/RegistryRemoteService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8181/RegistryRemoteService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfGetAllCategoriesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllCategoriesResult" nillable="true" type="tns:GetAllCategoriesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllCategoriesResult" nillable="true" type="tns:ArrayOfGetAllCategoriesResult" />
  <xs:complexType name="GetAllCategoriesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ParentId" nillable="true" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllCategoriesResult" nillable="true" type="tns:GetAllCategoriesResult" />
  <xs:complexType name="ArrayOfGetAllGroupsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllGroupsResult" nillable="true" type="tns:GetAllGroupsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllGroupsResult" nillable="true" type="tns:ArrayOfGetAllGroupsResult" />
  <xs:complexType name="GetAllGroupsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllGroupsResult" nillable="true" type="tns:GetAllGroupsResult" />
  <xs:complexType name="CreateUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateUserRequest" nillable="true" type="tns:CreateUserRequest" />
  <xs:complexType name="UpdateUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsEnabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUserRequest" nillable="true" type="tns:UpdateUserRequest" />
  <xs:complexType name="ArrayOfGetAllUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllUsersResult" nillable="true" type="tns:GetAllUsersResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllUsersResult" nillable="true" type="tns:ArrayOfGetAllUsersResult" />
  <xs:complexType name="GetAllUsersResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllUsersResult" nillable="true" type="tns:GetAllUsersResult" />
  <xs:complexType name="GetUserByLoginResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="GroupId" type="xs:int" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetUserByLoginResult" nillable="true" type="tns:GetUserByLoginResult" />
  <xs:complexType name="UpdateUserGroupRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdateUserGroupRequest" nillable="true" type="tns:UpdateUserGroupRequest" />
  <xs:complexType name="ArrayOfGetAllUserGroupsResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllUserGroupsResult" nillable="true" type="tns:GetAllUserGroupsResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllUserGroupsResult" nillable="true" type="tns:ArrayOfGetAllUserGroupsResult" />
  <xs:complexType name="GetAllUserGroupsResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllUserGroupsResult" nillable="true" type="tns:GetAllUserGroupsResult" />
  <xs:complexType name="CreateResourceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OwnerLogin" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ResourceGroups" nillable="true" type="q1:ArrayOfguid" />
      <xs:element minOccurs="0" name="SaveDate" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateResourceRequest" nillable="true" type="tns:CreateResourceRequest" />
  <xs:complexType name="ArrayOfGetAllResourcesResult">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetAllResourcesResult" nillable="true" type="tns:GetAllResourcesResult" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetAllResourcesResult" nillable="true" type="tns:ArrayOfGetAllResourcesResult" />
  <xs:complexType name="GetAllResourcesResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllResourcesResult" nillable="true" type="tns:GetAllResourcesResult" />
  <xs:complexType name="UseFiltersRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceGroupId" nillable="true" type="ser:guid" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Tags" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UseFiltersRequest" nillable="true" type="tns:UseFiltersRequest" />
</xs:schema>